*.sh
16_ant_complex/
16_ant_simple/
16_frak_simple/
17_fontmix_frak_ant_greek_hebrew_simple/
17_fontmix_frak_ant_simple/
17_frak_simple/
18_fontmix_complex/
18_frak_simple/
19_ant_simple/
19_frak_simple/